# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  push:
    branches:
      - '**'   # match all branches

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    env:
      USE_GKE_GCLOUD_AUTH_PLUGIN: "True"

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: login to hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image with branch tags
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            atrikov96/demo:${{ github.ref_name }}-${{ github.sha }}

      - name: Also tag as latest (main branch only)
        if: github.ref_name == 'main'
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: atrikov96/demo:latest

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: protean-beaker-479015-a3
          service_account_key: ${{ secrets.GCP_SA_KEY }}

      - name: Install GKE Auth Plugin
        run: |
          gcloud components install gke-gcloud-auth-plugin

      - name: Get GKE credentials
        run: gcloud container clusters get-credentials autopilot-cluster-1 --zone us-central1 --project protean-beaker-479015-a3

      # --- UPDATE DEPLOYMENT IN GKE ----------------------
      - name: Update Deployment image
        run: |
          kubectl set image deployment/demo-deployment demo-1=atrikov96/demo:${{ github.ref_name }}-${{ github.sha }}
